= semantic_form_for [:admin, @room],
    html: {class: "form-horizontal", role: "form"} do |f|
  = f.inputs "Room information" do
    = f.input :name, label: "Room name ",
                hint: "A nice name for our room, shall we?", required: true
    = f.input :size, label: "Room size in m<sup>2</sup> ".html_safe, required: true
    = f.input :price_per_hour, label: "Price/hour (US$) ", required: true
    = f.input :description, input_html: {:rows => 10}
  = f.actions
