= form_for @user, :html => {class: "form-horizontal", role: "form"} do |f|
  = render 'shared/error_messages'
  .form-group
    = f.label :name, class: "col-md-2 control-label"
    .col-md-5
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :email, class: "col-md-2 control-label"
    .col-md-5
      = f.text_field :email, class: "form-control"
  .form-group
    = f.label :password, class: "col-md-2 control-label"
    .col-md-5
      = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, 'Confirmation', class: "col-md-2 control-label"
    .col-md-5
      = f.password_field :password_confirmation, class: "form-control"
  .form-group
    .col-md-offset-2.col-md-5
      = f.submit "Create my account", class: "btn btn-primary"