<h1>Listing customers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>Email address</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.username %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.email_address %></td>
        <td><%= customer.image_url %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_customer_path, :class => 'btn btn-default' do %>
	New customer
<% end %>
