<h1>Listing customers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
	  <th>Avatar</th>
      <th>Username</th>
      <th>Full name</th>
      <th>Email address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
		<td>
			<%= image_tag(customer.image_url, class: 'img-thumbnail', :size => '150x150') %>
	  	</td>
        <td><%= customer.username %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.email_address %></td>
		<td>
			<%= link_to 'Show', customer, :class => 'btn btn-sm btn-default' %>
			<%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-sm btn-default'  %>
			<%= link_to customer, :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
				Destroy
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_customer_path, :class => 'btn btn-default' do %>
	New customer
<% end %>
