<nav class="navbar navbar-inverse navbar-fixed-top sp-nav">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("logo_white.png", alt: "Space++"), root_path, class: "logo pull-left" %>
      <nav class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Blog", '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
